<nav class="site-main-nav">
  <div class="site-nav-inner">
    <div class="site-nav-row">
      <div class="site-nav-left">
        <a href="index.jsp" class="site-logo">
          <i class="fa-solid fa-cloud site-logo-icon"></i>
          <span class="site-logo-text">AJOU</span>
        </a>
        <div class="site-nav-links">
          <a href="index.jsp" data-nav-key="home" class="site-nav-link">首页</a>
          <a href="products.jsp" data-nav-key="products" class="site-nav-link">产品购买</a>
          <a href="product-dynamics.jsp#solution" data-nav-key="solution" class="site-nav-link">解决方案</a>
          <a href="developer-community.jsp" data-nav-key="community" class="site-nav-link">开发者社区</a>
          <a href="product-dynamics.jsp" data-nav-key="dynamics" class="site-nav-link">产品动态</a>
        </div>
      </div>
      <div class="site-nav-actions">
        <a href="console.jsp" data-nav-key="console" class="site-console-link">控制台</a>
        <a href="auth.jsp" class="site-login-link">登录 / 注册</a>
      </div>
    </div>
  </div>
</nav>
